<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :university_id %><br>
    <%= f.number_field :university_id %>
  </div>

  <%= f.fields_for :grades do |g1| %>
    Grade #1 Name: <%= g1.text_field :name %> Score: <%= g1.text_field :score %> SubjectID: <%= g1.text_field :subject_id%>
  <% end %>

  <br>
   <%= f.fields_for :grades do |g2| %>
    Grade #2 Name: <%= g2.text_field :name %> Score: <%= g2.text_field :score %> SubjectID: <%= g2.text_field :subject_id%>
  <% end %>

    <br>
   <%= f.fields_for :grades do |g3| %>
    Grade #3 Name: <%= g3.text_field :name %> Score: <%= g3.text_field :score %> SubjectID: <%= g3.text_field :subject_id%>
  <% end %>

  <br>
     <%= f.fields_for :grades do |g4| %>
    Grade #4 Name: <%= g4.text_field :name %> Score: <%= g4.text_field :score %> SubjectID: <%= g4.text_field :subject_id%>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
